<div>
    <h1>Home</h1>

    <div>
        {{#each products}}
        <p>{{this.title}}</p>
        {{/each}}
    </div>

    <div>
        {{#each links}}
        <a href={{this.link}}>{{this.text}}</a>
        {{/each}}
    </div>
</div>